@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --eublue: #004494
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--eublue);
}

body {
  height: 100%;
}

html {
  background-color: rgba(94, 94, 94, 0.686), ;
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Arial', sans-serif;
  -webkit-print-color-adjust: exact;


}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f2f2f2;
}

.show {
  display: none;
}

#page {
  height: 275mm;
  width: 210mm;
  border-radius: 5px;
  /*   border: var(--eublue) solid 1px;
 */
  border-radius: 5px;
}

#title {
  font-weight: 300;
  font-size: 1.5rem;
  text-align: left;
  padding: 1rem;
  height: 20mm;
  justify-content: center;
  display: flex;
  flex-direction: column;

}

#minor {
  font-weight: bold;
  text-align: left;
  width: 100%;
  height: 65mm;
}

.minorIn {
  padding-left: 15px;
}

#decleration {
  font-weight: bold;
  text-align: left;
  width: 100%;
  /*   border-bottom: var(--eublue) solid 1px;
 */
}

#parents {
  font-weight: bold;
  text-align: left;
  width: 100%;
  height: calc(297mm / 2 - 25mm);
  display: flex;
  padding: 7.5px;
}

#parent1 {
  font-weight: bold;
  text-align: left;
  width: 50%;
  height: 90%;
  padding: 7.5px;


}

#parent2 {
  font-weight: bold;
  text-align: left;
  width: 50%;
  height: 90%;
  padding: 7.5px;

}

#title {
  color: var(--eublue);
}

.name {
  font-weight: 150;
  font-size: 75%;


}

.data {
  font-weight: 500;
  margin-bottom: 10px;
}

.title {
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--eublue);
  font-weight: 250;

}

.flex-row {
  display: flex;
  flex-direction: row;
  height: 20px;

}

.pd-15 {
  padding: 15px;
}

.page1 {
  height: 100%;
}

.page2 {
  height: 100%;
  background-color: #f2f2f2;




}

.parent1img {
  width: 100%;
}

.minor1img {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.pd-r-50 {
  padding-right: 50px;
}

.decleration {
  font-weight: bold;
  text-align: left;
  width: 90%;
  font-weight: 400;
  font-size: 1.2rem;
  margin-left: 15px;
  margin-bottom: 10px;
  margin-right: 15px;
  /*   border-bottom: var(--eublue) solid 1px;
 */
}

.signature {
  font-weight: 300;
  text-align: left;
  font-size: 0.8rem;
  margin-left: 15px;
  width: 50%;
  color: var(--eublue);
  /*   border-bottom: var(--eublue) solid 1px;
 */
}

.made {
  font-weight: 100;
  text-align: left;
  font-size: 0.5rem;
  text-align: right;
  width: 100%;


}

@page {
  size: A4;
  size: portrait;
  header: none;
  footer: none;
}

@print {
  @page :footer {
    display: none
  }

  @page :header {
    display: none
  }
}

.fd-r {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  bottom: 0;
  justify-content: flex-middle;
}

.input {
  width: 100%;
  height: 35px;
  border: rgba(128, 128, 128, 0.302) solid 1px;
  font-size: 1.2rem;
  font-weight: 300;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  border-radius: 5px;


}


.input:focus {
  outline: none;
}

.input-label {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  color: var(--eublue);

}

.form {
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 128px);
  animation: SlideIn 0.5s ease-in-out;
}

.forml {
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 128px);
  animation: SlideOut 0.5s ease-in-out;
}

.page1 {
  background-color: rgb(226, 226, 226);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-group-text {
  border-radius: 5px 0 0 5px !important;
}

.window {
  max-width: 400px;
  border-radius: 10px;
  background-color: #f2f2f2;
  margin-top: 20px;
  margin-bottom: 20px;
  border: var(--eublue) solid 1px;
}

.input-l {
  border-radius: 0 5px 5px 0 !important;
}

.p-input-l {
  border-radius: 5px 0 0 5px !important;
  width: 96px;
}

.input-r {
  border-radius: 5px 0 0 5px !important;
}

.p-input-r {
  border-radius: 0 5px 5px 0 !important;
  border-left: none;

}

.input-m {
  border-radius: 0 !important;
  border-left: none;
  border-right: none;
}

.input-window-header {
  font-size: 1.2rem;
  color: white;
  background-color: var(--eublue);
  border-radius: 10px 10px 0 0;
  padding: 10px;
  text-align: center;
  width: 100%;

}

.margin {
  padding: 20px;
  margin: auto;
}

.center {
  text-align: center;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
  display: block
}

.hide {
  display: none !important;
  animation: SlideOut 0.5s ease-in-out;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.tac {
  text-align: center;
  font-weight: 300;
  font-size: 0.8rem;
}

@keyframes SlideIn {
  0% {
    transform: translateX(20%);
    opacity: 0;

  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes SlideOut {
  0% {
    transform: translateX(-20%);
    opacity: 0;

  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}